SERVICE_NAME=customer-service
HTTP_PORT=3000
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=customer-service
KAFKA_CONSUMER_GROUP_ID=customer-service-demo-group
DEMO_TOPIC=customer.demo.event.v1
DATABASE_URL=postgresql://customer:customer@customer-postgres:5432/customer
JWT_ACCESS_SECRET=dev-auth-access-secret
